---
title: The Art of Boat Making is Our Passion
description: This is a description that will be picked up by social media and search engines.
layout: default
social_image: https://mbsportsstorage.blob.core.windows.net/website-images/home_social.jpg
---

{% include masthead.html filter="home" slide_id="home-carousel" %}
{% include section-standards.html filter="standard" slide_id="standards-carousel" %}
{% include section-series.html %}
{% include section-events.html %}
{% include section-map.html %}