<nav class="navbar navbar-expand-xl justify-content-start w-100">
    <button class="navbar-toggler" type="button">
        <i class="ion-navicon"></i>
    </button>
    <!-- navbar toggler -->

    <a class="navbar-brand" href="#">
        <img src="https://mbsportsstorage.blob.core.windows.net/website-images/mb-logo.svg" alt="Logo" width="225">
    </a>
    <!-- navbar brand -->

    <form class="search-mobile ml-md-auto d-none d-xl-none">
        <div class="input-group">
            <div class="input-group-prepend">
                <button class="btn py-0 px-2 text-white rounded-0 fw-500" type="submit">Search</button>
            </div>
            <input type="search" class="form-control text-gray-dark border-0 tx-14 rounded-0 search-focus" placeholder="Type here...">
        </div>
    </form>
    <!-- search mobile -->

    <button class="btn btn-link btn-search-mobile d-block d-xl-none text-white" type="button">
        <i class="ion-android-search"></i>
    </button>
    <!-- button search mobile -->

    <!-- <div class="collapse navbar-collapse" id="navbarTop"> -->
    <ul class="navbar-nav ml-auto fw-700 tx-13" id="navbarTop">
        <div class="mobile-close position-absolute d-block d-xl-none text-white">
            <i class="ion-android-close"></i>
        </div>
        <!-- mobile close -->

        <li class="nav-item">
            <a class="nav-link active" href="./home.html">HOME</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">EVENTS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">OUR STANDARDS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="./models.html">MODELS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">ABOUT US</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">FIND A DEALER</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="./select.html">BUILD YOUR MB</a>
        </li>
    </ul>
    <!-- menu -->

    <form class="search-desktop d-none d-xl-block">
        <div class="input-group">
            <div class="input-group-prepend">
                <button class="btn btn-link text-white py-0 pl-1 pr-2" type="submit">
                    <i class="ion-android-search"></i>
                </button>
            </div>
            <input type="search" class="form-control border-0 text-white p-0 tx-14 search-focus" placeholder="Search">
        </div>
    </form>
    <!-- search desktop -->
    <!-- </div> -->
</nav>
<!-- navbar -->