<div class="series d-md-flex text-center position-relative">
    <img class="d-none d-md-block position-absolute series-boat" src="https://mbsportsstorage.blob.core.windows.net/website-images/2018/home/boat-gray.png" alt="">
    <div class="col-md-6 px-0 b52-series position-relative">
        <div class="series-header">
            <h2 class="fw-400 mb-0">B52
                <span class="fw-800">Series</span>
            </h2>
        </div>
        <!-- series header -->
        <div class="vert-line text-left text-md-right vert-1 pt-1 px-4">
            <h2 class="fw-400 m-0">B52 21</h2>
        </div>
        <!-- vert 1 -->
        <div class="vert-line text-left text-md-right vert-2 pt-1 px-4">
            <h2 class="fw-400 m-0">B52 23</h2>
        </div>
        <!-- vert 2 -->
    </div>
    <!-- B52 series -->

    <div class="col-md-6 px-0 tomcat-series position-relative">
        <div class="series-header">
            <h2 class="fw-400 mb-0">TOMCAT
                <span class="fw-800">Series</span>
            </h2>
        </div>
        <!-- series header -->
        <div class="vert-line text-right vert-3 pt-1 px-4">
            <h2 class="fw-400 m-0 mr-1">F24 TOMCAT</h2>
        </div>
        <!-- vert 3 -->
        <div class="vert-line text-right vert-4 pt-1 px-4">
            <h2 class="m-0 fw-700 tx-red">F22 TOMCAT</h2>
        </div>
        <!-- vert 4 -->
        <div class="vert-line text-right vert-5 pt-1 px-4">
            <h2 class="fw-400 m-0 mr-1">F21 TOMCAT</h2>
        </div>
        <!-- vert 5 -->
    </div>
    <!-- TOMCAT SERIES -->
    <img class="arrow-bot position-absolute img-fluid w-100" src="https://mbsportsstorage.blob.core.windows.net/website-images/2018/arrow-bg.png" alt="">
    <!-- arrow bot -->
</div>
<!-- series -->